@import 'variables';

.wrap {
  display: flex;
  width: 100%;
  position: relative;
  .level,
  .level0 {
    :global {
      .bottom {
        transform: translate(0, -90px);
        height: 280px;
      }
    }
  }
  .dataBlock {
    position: absolute;
    font-size: 15px;
    &.dataTankBlock {
      top: 28%;
    }
    &.dataHeaterBlock {
      top: 32%;
    }
  }
  .level1 {
    :global {
      .bottom {
        transform: translate(0, -90px + $object-gap);
        height: 280px - $object-gap;
      }
    }
  }
  .level2 {
    :global {
      .bottom {
        transform: translate(0, -90px + $object-gap * 2);
        height: 280px - $object-gap * 2;
      }
    }
  }
  .level3 {
    :global {
      .bottom {
        transform: translate(0, -90px + $object-gap * 3);
        height: 280px - $object-gap * 3;
      }
    }
  }
  .level4 {
    :global {
      .bottom {
        transform: translate(0, -90px + $object-gap * 4);
        height: 280px - $object-gap * 4;
      }
    }
  }
  .level5 {
    :global {
      .bottom {
        transform: translate(0, -90px + $object-gap * 5);
        height: 280px - $object-gap * 5;
      }
    }
  }
  .level6 {
    :global {
      .bottom {
        transform: translate(0, -90px + $object-gap * 6);
        height: 280px - $object-gap * 6;
      }
    }
  }
}
.img {
  width: 100%;
  max-width: 600px;
  height: 100%;
}

.fill {
  .level1 {
    :global {
      .bottom {
        transform: translate(0, -90px - $object-gap-fill);
        height: 280px + $object-gap-fill;
      }
    }
  }
  .level2 {
    :global {
      .bottom {
        transform: translate(0, -90px - $object-gap-fill * 2);
        height: 280px + $object-gap-fill * 2;
      }
    }
  }
  .level3 {
    :global {
      .bottom {
        transform: translate(0, -90px - $object-gap-fill * 3);
        height: 280px + $object-gap-fill * 3;
      }
    }
  }
  .level4 {
    :global {
      .bottom {
        transform: translate(0, -90px - $object-gap-fill * 4);
        height: 280px + $object-gap-fill * 4;
      }
    }
  }
  .level5 {
    :global {
      .bottom {
        transform: translate(0, -90px - $object-gap-fill * 5);
        height: 280px + $object-gap-fill * 5;
      }
    }
  }
}
