@import 'variables';

.wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  .card {
    padding: 20px;
    height: 176px;
    min-width: 330px;
    width: 100%;
    position: relative;
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    &:first-child {
      margin-left: 0px;
    }
    .title {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.45);
    }
    .data {
      margin-top: 10px;
      font-size: 30px;
      line-height: 38px;
    }
    .progress {
      width: 100%;
      margin-top: 40px;
    }
  }
}
