$gap: 10px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 32px;

$fontSizeSm: 11px;
$fontSize: 12px;
$fontSizeMd: 14px;
$fontSizeLg: 16px;

$white: #fff;
$black: #000;

$backgroundColor: #f6f7fa;

$textColor: rgba(0, 0, 0, 0.85);

$blue: #1890ff;

$topmost-z-index: 1000;
$topmost01-z-index: 1001;
$topmost02-z-index: 1002;
